<img src="../../assets/login/fundo.jpg" id="fundo">
<ion-content>
  <img id="efeito" src="../../assets/login/fundo_azul.png">
  <img id="icon_facens" src="../../assets/login/unifacens.png" style="display:block;width:70%;height:auto;margin-left:auto;margin-right:auto;margin-top: 30%" />
  <div id="div">
    <ion-input id="login_lab" type="any" placeholder="RA/Usuário" text-center></ion-input>
    <ion-input id="login_senha" type="password" placeholder="Senha" text-center></ion-input>
    <button id="botao_entrar" style="display:block;margin-left:auto;margin-right:auto;margin-top: 15%" (click)="goToHome()">
      <p>Entrar</p>
    </button>
  </div>
</ion-content>
