ion-toolbar{
  --background: #4c8dff;
  color: white;
  text-align: center;
}
.img_voltar{
  width: 10%;
  height: 10%;
  margin: auto auto auto 3%;
}
.header_title{
  margin: auto;
  padding: auto;
  text-align: center;
}
.icon_perfil{
  width: 10%;
  height: 10%;
  margin: auto 3% auto auto;
}
