<ion-header>
  <ion-toolbar>
    <ion-row>
      <h2>Biblioteca - UniFacens</h2>
      <img class="icon_perfil" align="right" src="../../assets/home/icon_perfil.png">
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="texto_home">Busca</p>
          <img class="img_home" src="../../assets/home/icon-lupa.png">
          <p class="texto_home">Busca</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <p class="texto_home">Emprés./Devolu.</p>
          <img class="img_home" src="../../assets/home/livro.png">
          <p class="texto_home">Emprés./Devolu.</p>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <p class="texto_home">Renovações</p>
          <img class="img_home" src="../../assets/home/calendario.png">
          <p class="texto_home">Renovações</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <p class="texto_home">Pagamento</p>
          <img class="img_home" src="../../assets/home/dinheiro.png">
          <p class="texto_home">Pagamento</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
