<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-title>Biblioteca - UniFacens</ion-title>
            <img class="icon_perfil" align="right" (click)="navCtrl.navigateForward('/perfil')" src="../../assets/home/icon_perfil.png">
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card (click)="navCtrl.navigateForward('/busca')">
                    <p class="titulo_home">Busca</p>
                    <img class="img_home" src="../../assets/home/icon-lupa.png">
                    <p class="texto_home">Explore nosso acervo</p>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card>
                    <p class="titulo_home">Emprés./Devolu.</p>
                    <img class="img_home" src="../../assets/home/livro.png">
                    <p class="texto_home">Consulte o status de seus empréstimos.</p>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-card (click)="navCtrl.navigateForward('/renovacoes')">
                    <p class="titulo_home">Renovações</p>
                    <img class="img_home" src="../../assets/home/calendario.png">
                    <p class="texto_home">Solicite ou consulte suas renovações.</p>
                </ion-card>
            </ion-col>
            <ion-col>
                <ion-card (click)="navCtrl.navigateForward('/pagamento')">
                    <p class="titulo_home">Pagamento</p>
                    <img class="img_home" src="../../assets/home/dinheiro.png">
                    <p class="texto_home">Pague sua multa online</p>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
